# EditorConfig for ALL projects in WORKSPACE
# https://EditorConfig.org

# This is the TOP-MOST EditorConfig file - applies to all subdirectories
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Python files (Odoo standard)
[*.py]
indent_style = space
indent_size = 4
max_line_length = 120

# XML/HTML files (Odoo views)
[*.{xml,html}]
indent_style = space
indent_size = 4

# JavaScript/JSON files
[*.{js,json}]
indent_style = space
indent_size = 4

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 4

# CSS/SCSS files
[*.{css,scss}]
indent_style = space
indent_size = 4

# Shell scripts
[*.{sh,bash}]
indent_style = space
indent_size = 4

# Markdown files (don't trim trailing spaces - needed for line breaks)
[*.md]
trim_trailing_whitespace = false

# Makefiles MUST use tabs
[Makefile]
indent_style = tab

# CSV files (don't trim - data integrity)
[*.csv]
trim_trailing_whitespace = false
